@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --theme-color: #f15825;
  --theme-color-faint: #f1582533;
  --theme-color-bg: #f8cdbf46;

  --theme-color2: #d84f21;

  --color-text: #2c3e50;

  --color-background: var(--vt-c-white);


}

html * {
  font-family: 'Poppins', 'Nunito Sans', 'Encode Sans Semi Condensed', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  background: var(--color-background);
  font-size: 15px;
}